body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ff7f50;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 24px;
}



.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.recipe-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    width: 359px;
}

.recipe-card img {
    width: 359px;
    height: 200px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
}

.edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff7f50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background: #555;
    border-radius: 5px;
}

nav a:hover {
    background: #777;
}

.add-recipe {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#recipe-form {
    display: flex;
    padding: 40px;
    background: white;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comments {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: left;
}

.comment-input {
    width: 80%;
    padding: 5px;
}

.comment-btn {
    padding: 5px 10px;
    background: #ff7f50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.category-btn {
  background: #555;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.category-btn:hover, .category-btn.active {
  background: #ff7f50;
}

#recipe-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-recipe-button {
    background-color: #ff7f50;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-recipe-button:hover {
    background-color: #45a049;
  }

  main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.no-recipes {
  text-align: center;
  font-size: 18px;
  color: #333;
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ff7f50;
}